header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav {
    padding-top: 330px;
}

.paleis {
    padding-top: 17px
}

nav a {
    padding: 8px;
    text-decoration: none;
}

nav a:hover {
    color: skyblue;
}

.landing-section {
    text-align: center;
    background-image: url('../assets/pizza1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    padding: 8%;
}

#text {
    width: 100%;
    font-weight: 600px;
    font-size: large;
    text-align: center;
    color: white;
}