header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
nav li {
    list-style: none;
    display: inline;
    padding: 15px;
}

nav ul a {
    text-decoration: none;
    font-weight: 600;
    font-size: 13pt;
}

#navlist {
    float: right;
}

#navlist a:hover {
    color: skyblue;
}