header {
    background-color: aquamarine;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav {
    padding-top: 330px;
}

.paleis {
    padding-top: 17px
}

nav a {
    padding: 8px;
    text-decoration: none;
}

nav a:hover {
    color: skyblue;
}